# figma-managed npm registry config start
@Stratakit:registry=https://registry.figma.com/npm/1f3e2604-e320-4440-b74b-948b29aef651/registry/
@make-kits:registry=https://registry.figma.com/npm/1f3e2604-e320-4440-b74b-948b29aef651/registry/
# figma-managed npm registry config end
